%tr
  %td
    = build.build_number
  %td
    = build.version.version
  %td
    = build.minecraft_version
  %td
    = render build.artifacts.where(:name => 'universal')
    .more-artifacts
      = render build.artifacts.where.not(:name => 'universal')
    %i.more-artifacts-toggle.fi-plus
