
%tr
  %td= build.build_number
  %td= build.version.version
  %td= build.minecraft_version
  %td
    %a.button.small.dropdown{:href => "#", 'data-dropdown'=> "build#{build.build_number}", "data-options" => "is_hover:true"} Files
    %ul.f-dropdown{:id => "build#{build.build_number}", 'data-dropdown-content' => true}
      = render build.artifacts
  %td
    %a.button.small{:href => changes_link(build)} #{build.commit[0..7]}
