- @users.each do |developer|
  %span.has-top.tip-left{"data-tooltip" => true, :title => developer.name, "data-options" => "disable_for_touch:true"}
    #dev-dropdown{'data-dropdown' => "developer-#{developer.id}"}
      = gravatar_for(developer, :size => 50, :class => "developer-icon")
    %ul.f-dropdown{:id => "developer-#{developer.id}", 'data-dropdown-content' => true}
      %li
        = link_to 'View', developer
      - if can?(:manage, @project) && current_user.name != developer.name
        %li
          = link_to 'Remove', projects_remove_user_path(:project_id => @project.id, :user_id => developer.id), method: :delete, remote: true
