#repo-info
  = link_to "https://github.com/#{@project.code_repo}" do
    .repo-outer
      %span.code-repo
        = @project.code_repo
  = link_to "https://github.com/#{@project.wiki.repo}" do
    .repo-outer
      %span.wiki-repo
        = @project.wiki.repo