%h1
  = @project.name
= form_for @project do |f|
  = f.autocomplete_field :users, projects_autocomplete_user_name_path, :placeholder => 'Username', :value => ''
%h2 Users
- @project.users.each do |user|
  = gravatar_for(user, size: 100)
  = user.name
  - unless current_user == user
    = link_to 'Remove', projects_remove_user_path(:project_id => @project.id, :user_id => user.id), method: :delete