.row
  %h1
    = @project.name
  = form_for @project, :html => {:multipart => true} do |f|
    = f.text_field :code_repo

    %h3 Current icon
    = image_tag @project.icon_url.to_s, :class => 'mod-download-icon no-aa-image'
    = f.file_field :icon
    = f.text_field :remote_icon_url

    = f.submit