.row
  = form_for @project, :html => {:multipart => true} do |f|
    = f.text_field :name, :placeholder => :Name, :value => '', :label => false
    = f.text_area :description, :placeholder => :Description, :value => '', :label => false
    = f.text_field :subtitle, :placeholder => :'Subtitle (max length 40)', :value => '', :label => false
    = f.text_field :code_repo, :placeholder => :'Code Repo', :value => '', :label => false

    = f.file_field :icon
    = f.text_field :remote_icon_url

    = f.fields_for :wiki do |wiki_f|
      = f.label 'Wiki Repo'
      = wiki_f.text_field :repo, :placeholder => :wiki_repo, :label => false

    = f.submit