= render 'layouts/mod_header', {:project => @project}
.large-12.columns
  .row
    .large-4.columns#left-sidebar
      #developers.panel
        %h3
          - if can? :edit, @project
            %i#add-dev.general.fi-plus.circle-icon
          Developers
          = link_to 'refresh wiki', project_refresh_wiki_path(@project, @project.wiki)
        #developers-list
          = render 'developers'
        - if can? :edit, @project
          #add-dev-set
            #add-dev-form.hide
              = form_for @project, :remote => true do |f|
                = f.autocomplete_field :users, projects_autocomplete_user_name_path, :placeholder => 'Username', :value => '', :class => 'thin-bottom-margin radius'
                = f.submit 'Add', :class => 'button success radius thin-button thin-bottom-margin'
      = render 'download_sidebar'
      #info.panel
        %h3
          - if can? :edit, @project
            %i.general.fi-wrench.circle-icon{'data-reveal-id' => 'repo-control'}
          Info
        - if can? :edit, @project
          #repo-control.reveal-modal.tiny{'data-reveal' => true}
            %a.close-reveal-modal &#215;
            = render 'repo_controls'
        = render 'repo_info'
    .large-8.columns
      = best_in_place_if can?(:edit, @project), @project, :description, :display_with => :simple_format, :type => :textarea, :classes => ['best_in_place_direct']
      #downloads.hide
        %hr
        %a{:id => 'downloads'}
        %h3 Downloads
        = render 'builds/downloads', project: @project, branch: 'master'
