.large-6.columns.center.mod-header#mod-header
  .row
    .columns.show-for-large-up.large-2.icon-column
      - if can? :modify, project
        %a{:href => "#", 'data-reveal-id' => 'edit-image'}
          .hundred-square{'data-tooltip' => true, 'title' => 'Click to change'}
            = image_tag project.icon_url.to_s, :class => 'y-center mod-download-icon no-aa-image'
        #edit-image.reveal-modal.tiny{'data-reveal' => true}
          %a.close-reveal-modal &#215;
          = form_for project, :html => {:multipart => true}, :remote => true do |f|
            %h3 Change icon
            %h5 Max size 500kb
            = f.file_field :icon
            = f.submit
      - else
        -# These are for adding in false elements so that the JS works the same on both sides of the if statement.
        %div
          %div
            = image_tag project.icon_url.to_s, :class => 'y-center mod-download-icon no-aa-image'
    .large-10.columns.title-column
      %h1.title
        = link_to "#{project.name} - #{project.downloads} Downloads", project_path(project), :class => 'title'
        = link_to project_wiki_path(project, project.wiki) do
          = image_tag 'wiki-favicon-white.svg', :class => 'wiki-icon'
      %h3.subtitle.show-for-medium-up
        = best_in_place_if can?(:modify, project), project, :subtitle, :classes => ['best_in_place_direct']