.large-6.columns.center.mod-header#mod-header
  .row
    .columns.text-right.show-for-large-up.large-2
      %a{:href => "#", 'data-reveal-id' => 'edit-image'}
        = image_tag project.icon_url.to_s, :class => 'y-center mod-download-icon no-aa-image'
      #edit-image.reveal-modal.tiny{'data-reveal' => true}
        %a.close-reveal-modal &#215;
        = form_for project, :html => {:multipart => true}, :remote => true do |f|
          %h3 Change icon
          = image_tag project.icon_url.to_s, :class => 'mod-download-icon no-aa-image'
          = f.file_field :icon
          = f.text_field :remote_icon_url

          = f.submit
    .large-8.columns.text-left
      %h1.title
        = project.name
      %h3.subtitle.show-for-medium-up
        = best_in_place_if can?(:modify, project), project, :subtitle
    .large-2.columns.text-left
      - if can? :manage, project
        %a.button.dropdown.show-for-large-up{"data-dropdown" => "edit-project", :href => "#", "data-options" => "is_hover:true"} Edit
        %br
          %ul#edit-project.f-dropdown{"data-dropdown-content" => ""}
            %li
              = link_to 'Refresh wiki', project_refresh_wiki_path(project, project.wiki), :remote => true, :class => 'refresh-button'
            %li
              = link_to 'Hard refresh wiki', project_refresh_wiki_path(project, :id => project.wiki.id, :hard_reload => true), :remote => true, :class => 'refresh-button'
            %li
              = link_to 'Edit', edit_project_path(project)
      - unless project.wiki.articles.first.nil?
        = link_to 'Wiki', project_wiki_path(project, project.wiki), :class => 'button show-for-large-up wiki-button'