// add navigation links to this file
- if user_signed_in?
  %li.divider
  %li
    = nav_link "Welcome #{current_user.name}", edit_user_registration_path
  %li.divider
  %li
    = link_to 'Sign out', destroy_user_session_path, :method => 'delete', :class => 'item'
- else
  %li.divider
  %li
    = link_to "Sign in with GitHub", user_omniauth_authorize_path(:github)
%li.divider
%li
  = nav_link "Downloads", downloads_path
%li.divider
%li
  = nav_link "Mods", projects_path
- if can? :manage, :all
  %li.divider
  %li.has-dropdown
    %a{:href => "#"} Admin
    %ul.dropdown
      %li
        = nav_link 'Add Project', new_project_path
  %li.divider
