!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'HeisenBugDev'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'HeisenBugDev'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = favicon_link_tag 'favicon.png'
    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'layouts/navigation'
    %main{:role => "main"}
      .row
        .text-right
          = render 'layouts/messages'
        = yield
  :javascript
    $(document).foundation();